.home{
    width: 100%;
    height: 50px;
    margin: auto;
    @include mq('lg'){
        max-width: 1270px;
    }
    @include mq('xs'){
        display: none;
    }
}

.home-list{
    margin: 0;
    @include mq('sm'){
        padding-left: 50px;
    }
}

.home-list li{
    display: inline-block;
    font-size: .8125rem;
    line-height: 1.42857143;
    padding: 14px 5px 13px 0px;
    color: black;
}

.home-link{
    font-weight: 600;
}

.contact-container{
    height: 100vh;
}
 contact body{
 margin: 0;
 padding: 0;
 }

.form-contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-section{
    width: 100%;
    height: auto;
    display: flex;
}

.background{
    width: calc(100% - 17px);
    box-shadow: inset 0px 5px 35px 0px #0000001c;
    @include mq('xs'){
        width: 100%;
    }
    @include mq('sm'){
        width: 100%;
    }
}

.contact-title{
    width: 100%;
    max-width: 1270px;
    margin: auto;
    padding: 0px 50px;
    @media screen and (max-width: 992px){
        padding: 0 !important;
    }
    @media screen and (max-width: 1259px){
        max-width: 970px;
        padding: 0px 15px;
    }
}

.contact-title h1{
    color: black;
    font-size: 36px;
    font-family: $fontstyle;
    text-transform: none !important;
    margin: 0 auto;
    padding: 24px 0;
    margin-bottom: 30px;
    width: 100%;
    @media screen and (max-width: 992px){
        background: $base-dark;
        color: $base-white;
        line-height: 1;
        padding-left: 15px;
    }
}

.cont-info{
    font-family: $fontstyle;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 0;
}

.cont-info a{
    color: $design-color;
    font-size: 26px;
    font-weight: 600;
}

.greyed{
    color: $base-grey;
    margin: 0;
}

.email-us{
    color: black;
    font-size: 16px;
    margin: 0;
}

.open-hours{
    margin-bottom: 25px;
    color: black;
}

.fa-angle-down{
    font-size: 20px;
    padding-top: 10px;
}

.cont-container{
    width: 400px;
    padding: 0px 50px 0 0;
    @include mq('xs'){
        padding-left: 20px;
    }
    @include mq('sm'){
        padding-left: 20px;
        margin-bottom: 20px;
    }
}

.inner-boy{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 1270px;
    margin: auto;
    padding: 0px 30px;
    @include mq('lg'){
        flex-direction: row;
        width: 100%;
        max-width: 1260px;
        padding: 0 30px;
    }
    @media screen and (max-width: 1259px){
        max-width: 970px;
        padding: 0;
    }
}

.form-area{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cont-form{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#cont-field{
    width: 100%;
    border: none;
    max-width: 800px;
    @include mq('sm'){
        max-width: 100%;
    }
}

.cont-input{
    width: 100%;
    max-width: 720px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 47px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    @include mq('lg'){
        display: inline;
    }
}

.cont-label{
    display: inline;
    color: $base-dark-grey;
    margin-bottom: -10px;
    font-weight: 600;
    .req{
        color: red;
    }
}

#cont-field > #message-label{
    margin-bottom: 0px;
}

#message-input{
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#cont-field #name-area,
#cont-field #number-area{
    @include mq('md'){
        margin-right: 0px;
    }
    @include mq('lg'){
        margin-right: 0px;
    }
}

.cont-one, .cont-two{
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 992px){
        flex-direction: column;
    }
}

.message-area, .message-area textarea{
    width: 100%;
    height: 100px;
    padding: 0px 15px;
}

.cont-one div, .cont-two div{
    width: 50%;
    padding: 0px 15px;
    &:first-child{
        margin-right: 30px;
    }
    @media screen and (max-width: 992px){
        width: 100%;
    }
}

.marketing-box2{
	margin-top: 50px;
	margin-bottom: 11px;
    margin-left: 15px;
	display: flex;
}

#enquiry{
    margin-top: 25px;
    margin-left: -52px;
}

.map-card-container{
    display: flex;
    justify-content: center;
    padding: 0 15px;
      @include mq('md'){
        width: 100%;
        max-width: 970px;
        margin: auto;
        margin-bottom: 20px; 
        padding: 0 15px;
    }
    @include mq('lg'){
        width: 100%;
        max-width: 1270px;
        margin: auto;
        margin-bottom: 20px; 
    }
    @media screen and (max-width: 767px){
        flex-direction: column;
    }
}

.cards-cont{
    width: 50%;
    padding: 0 15px;
    @media screen and (max-width: 767px){
        width: 100%;
        margin: 0 auto;
    }
}

.map-card1, .map-card2{
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	color: $base-dark;
	background-color: $base-white;
	border: 1px solid $base-accenting;
	border-radius: 3px;
	padding: 30px;
	box-shadow: 0 3px 35px rgba(0,0,0,.1);
    max-width: 555px;
    margin: 60px auto 0;
    min-height: 342px;
    &:hover{
        background-color: $design-color;
        color: $base-white;
        .line{
            background-color: $base-white;
        }
    }
}

.card-icon{
    background-color: $base-dark;
    color: $base-white;
    border-radius: 50%;
}

.title{
    font-size: 18px;
    padding-bottom: 17px;
    margin-bottom: 11px;
}

.line{
    width: 28px;
    height: 3px;
    display: block;
    background-color: $base-dark;
    margin: 0 auto; 
    margin-top: -10px;
    margin-bottom: 15px;
}

.address-box{
    font-size: 13px;
    margin-bottom: 13px;
}

.map{
    margin: 0 auto;
    max-width: 555px;
}

.map iframe{
    border: none;
    width: 100%;
    max-width: 555px;
    height: 300px;
}